:root {
    --background-color: #2A3850;
    --alternative-bg: #192c4b;
    --primary-color: #41436A;
    --header-color: #dbddff;
    --accent-color-1: #984063;
    --accent-color-2: #f64668;
    --accent-color-3: #FE9677;
    --text-color: #e0e0e0;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --border-radius: 8px;
}

html {
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 130px;
}

h1 {
    color: var(--header-color);
    text-align: center;
}

#wordCountContainer,
#sliderContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 320px;
}

#lengthSlider,
#wordCountSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: var(--accent-color-1);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#lengthSlider::-webkit-slider-thumb,
#wordCountSlider::-webkit-slider-thumb,
#lengthSlider::-moz-range-thumb,
#wordCountSlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--accent-color-2);
    cursor: pointer;
}

.password-container,
#password-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 369px;
    margin-top: 15px;
    position: relative;
}

#password-container1 {
    background: var(--primary-color);
    border-radius: var(--border-radius);
    border: 2px solid var(--accent-color-1);
    width: 320px;
}

#password:focus {
    outline: none !important;
}

input[type="text"] {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color-1);
    color: var(--text-color);
    padding: 14px 0 10px 0;
    border-radius: var(--border-radius);
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

button {
    background-color: var(--accent-color-2);
    color: var(--text-color);
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: var(--border-radius);
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    width: 320px;
}

#multipw {
    padding: 6px;
    border-bottom: 2px solid var(--accent-color-1);
    font-size: 15px;
}

#multipw:hover {
    cursor: text;
}

#multipwcp {
    background-color: var(--accent-color-1);
    padding: 4px;
    margin-right: -2px;
    font-size: 15px;
}

#multipwcp:hover {
    background-color: var(--accent-color-2) !important;
    cursor: pointer;
}

.multipw0 {
    grid-area: 1 / 1 / 2 / 5;
}

.multipw1 {
    grid-area: 2 / 1 / 3 / 5;
}

.multipw2 {
    grid-area: 3 / 1 / 4 / 5;
}

.multipw3 {
    grid-area: 4 / 1 / 5 / 5;
}

.multipw4 {
    border-bottom: none !important;
    grid-area: 5 / 1 / 6 / 5;
}

.multipwcp0 {
    grid-area: 1 / 5 / 2 / 6;
    border-top-right-radius: 8px;
    margin-top: -2px;
}

.multipwcp1 {
    grid-area: 2 / 5 / 3 / 6;
    background-color: #762f54 !important;
}

.multipwcp2 {
    grid-area: 3 / 5 / 4 / 6;
}

.multipwcp3 {
    background-color: #762f54 !important;
    grid-area: 4 / 5 / 5 / 6;
}

.multipwcp4 {
    grid-area: 5 / 5 / 6 / 6;
    border-bottom-right-radius: 8px;
    margin-bottom: -2px;
}


button:hover {
    background-color: var(--accent-color-2) !important;
}

#copypwd {

    position: absolute !important;
    top: -10.9px !important;
    height: 18px !important;
    font-family: monospace !important;
    font-size: 10px;
    width: 373px !important;
    border-radius: 6px 6px 0 0 !important;
    background-color: var(--accent-color-1) !important;
    text-align: end !important;
    padding-right: 6px !important;
    letter-spacing: 1.4px;
}

#copypwd:hover {
    cursor: pointer !important;
    background-color: var(--accent-color-2) !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 0.2);
}

.buttonwrapper {
    justify-content: center !important;
    margin-top: 13px;
}

.button {
    background-color: var(--accent-color-1) !important;
    display: inline-block;
    border: 0;
    outline: 0;
    padding: 12px 16px;
    line-height: 1.4;
    border-radius: var(--border-radius);
    color: white !important;
    cursor: pointer;
    position: relative;
    transition: padding-right .3s ease-out;
}

.button.loading {
    background-color: var(--accent-color-2) !important;
    padding-right: 40px;
}

.button.loading:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    right: 6px;
    top: 50%;
    width: 0px;
    height: 0px;
    margin-top: -2px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-left-color: #FFF;
    border-top-color: #FFF;
    animation: spin .6s infinite linear, grow .3s forwards ease-out;
}

@keyframes spin {
    to {
        transform: rotate(359deg);
    }
}

@keyframes grow {
    to {
        width: 14px;
        height: 14px;
        margin-top: -8px;
        right: 13px;
    }
}

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 13px;
    font-size: 13px;
    color: var(--text-color);
    position: absolute;
    bottom: 0%;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--accent-color-2);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 51.5px;
}

#customSeparator,
#customLanguage {
    width: 111px;
    height: 15.5px;
}

#separator,
#maxWordLength,
#languageSelect {
    width: 116px;
    height: 41.5px;
    border-radius: var(--border-radius);
    background: #41436A;
    color: white;
    border: 2px solid var(--accent-color-1);
    padding: 3px;
}

.infotext-wrapper {
    text-align: center !important;
}

#infotext {
    font-size: 12px;
}

#apilink {
    color: var(--accent-color-2);
}

/* toggle button*/

.checkbox-kaare {
    --blue: #f64668;
    --g08: #E1E5EB;
    --g04: #848ea1;
    display: flex;
    align-items: center;
    text-align: center;
}

.checkbox-kaare .tgl {
    display: none;
}

.checkbox-kaare .tgl,
.checkbox-kaare .tgl:after,
.checkbox-kaare .tgl:before,
.checkbox-kaare .tgl *,
.checkbox-kaare .tgl *:after,
.checkbox-kaare .tgl *:before,
.checkbox-kaare .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-kaare .tgl::selection,
.checkbox-kaare .tgl:after::selection,
.checkbox-kaare .tgl:before::selection,
.checkbox-kaare .tgl *::selection,
.checkbox-kaare .tgl *:after::selection,
.checkbox-kaare .tgl *:before::selection,
.checkbox-kaare .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-kaare .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 57px;
    height: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.checkbox-kaare .tgl+.tgl-btn:after,
.checkbox-kaare .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
}

.checkbox-kaare .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-kaare .tgl+.tgl-btn:before {
    display: inline;
    position: absolute;
    top: 6px;
}

.checkbox-kaare .tgl:checked+.tgl-btn:after {
    left: 56.5%;
}

.checkbox-kaare .toggle-omena+.tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.checkbox-kaare .toggle-omena+.tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-kaare .toggle-omena+.tgl-btn:before {
    content: "No";
    left: 28px;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox-kaare .toggle-omena+.tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-kaare .toggle-omena+.tgl-btn:active:after {
    padding-right: 0.4em;
}

.checkbox-kaare .toggle-omena:checked+.tgl-btn {
    background: var(--blue);
}

.checkbox-kaare .toggle-omena:checked+.tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-kaare .toggle-omena:checked+.tgl-btn:active:after {
    margin-left: -0.4em;
}

.checkbox-kaare .toggle-omena:checked+.tgl-btn:before {
    content: "Yes";
    left: 4px;
    color: #fff;
}

/* media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}