:root {
    --background-color: #2A3850;
    --primary-color: #41436A;
    --header-color: #dbddff;
    --accent-color-1: #984063;
    --accent-color-2: #f64668;
    --accent-color-3: #FE9677;
    --text-color: #e0e0e0;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --border-radius: 8px;
}

html {
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    color: var(--header-color);
    text-align: center;
}

#wordCountContainer,
#sliderContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 320px;
}

#lengthSlider,
#wordCountSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: var(--accent-color-1);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#lengthSlider::-webkit-slider-thumb,
#wordCountSlider::-webkit-slider-thumb,
#lengthSlider::-moz-range-thumb,
#wordCountSlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--accent-color-2);
    cursor: pointer;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

input[type="text"] {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color-1);
    color: var(--text-color);
    padding: 10px;
    border-radius: var(--border-radius);
    width: 80%;
    max-width: 320px;
    text-align: center;
    font-size: 1rem;
}

button {
    background-color: var(--accent-color-2);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: var(--border-radius);
    width: 80%;
    max-width: 200px;
}

button:hover {
    background-color: var(--accent-color-3);
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    position: absolute;
    bottom: 0%;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--accent-color-2);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 51.5px;
}

#customSeparator {
    width: 92px;
}

#separator, #maxWordLength {
    width: 116px;
    height: 41.5px;
    border-radius: var(--border-radius);
    background: #41436A;
    color: white;
    border: 2px solid var(--accent-color-1);
    padding: 3px;
}



/* toggle button*/

.checkbox-kaare {
    --blue: #f64668;
    --g08: #E1E5EB;
    --g04: #848ea1;
    display: flex;
    align-items: center;
    text-align: center;
}

.checkbox-kaare .tgl {
    display: none;
}

.checkbox-kaare .tgl,
.checkbox-kaare .tgl:after,
.checkbox-kaare .tgl:before,
.checkbox-kaare .tgl *,
.checkbox-kaare .tgl *:after,
.checkbox-kaare .tgl *:before,
.checkbox-kaare .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-kaare .tgl::selection,
.checkbox-kaare .tgl:after::selection,
.checkbox-kaare .tgl:before::selection,
.checkbox-kaare .tgl *::selection,
.checkbox-kaare .tgl *:after::selection,
.checkbox-kaare .tgl *:before::selection,
.checkbox-kaare .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-kaare .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 57px;
    height: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.checkbox-kaare .tgl+.tgl-btn:after,
.checkbox-kaare .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
}

.checkbox-kaare .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-kaare .tgl+.tgl-btn:before {
    display: inline;
    position: absolute;
    top: 6px;
}

.checkbox-kaare .tgl:checked+.tgl-btn:after {
    left: 56.5%;
}

.checkbox-kaare .toggle-omena+.tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.checkbox-kaare .toggle-omena+.tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-kaare .toggle-omena+.tgl-btn:before {
    content: "No";
    left: 28px;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox-kaare .toggle-omena+.tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-kaare .toggle-omena+.tgl-btn:active:after {
    padding-right: 0.4em;
}

.checkbox-kaare .toggle-omena:checked+.tgl-btn {
    background: var(--blue);
}

.checkbox-kaare .toggle-omena:checked+.tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-kaare .toggle-omena:checked+.tgl-btn:active:after {
    margin-left: -0.4em;
}

.checkbox-kaare .toggle-omena:checked+.tgl-btn:before {
    content: "Yes";
    left: 4px;
    color: #fff;
}


