<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PwGen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#2A3850">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(reg => console.log('Service Worker registered', reg))
                    .catch(err => console.log('Service Worker registration failed', err));
            });
        }
        function copyPassword() {
            const password = document.getElementById('password').value;
            copyToClipboard(password)
                .then(() => {
                    console.log('Password copied to clipboard');
                    onCopy();
                })
                .catch((err) => {
                    console.error('Error copying password to clipboard, using fallback:', err);
                    fallbackCopyTextToClipboard(password);
                });
        }


        function copyToClipboard(str) {
            if (navigator && navigator.clipboard && navigator.clipboard.writeText) {
                return navigator.clipboard.writeText(str);
            }
            return Promise.reject('The Clipboard API is not available.');
        }

        function fallbackCopyTextToClipboard(text) {
            const textArea = document.createElement("textarea");
            textArea.value = text;
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                const successful = document.execCommand('copy');
                const msg = successful ? 'successful' : 'unsuccessful';
                console.log(`Fallback: Copying text command was ${msg}`);
                onCopy();
            } catch (err) {
                console.error('Fallback: Oops, unable to copy', err);
            }

            document.body.removeChild(textArea);
        }

        function onCopy() {
            const button = document.getElementById("copypwd");
            button.innerHTML = `copied!`;

            setTimeout(() => {
                button.innerHTML = `copy password`;
            }, 1500);
        }

    </script>
</head>

<body>
    <div class="container">
        <h1 id="header1">Generate a Secure Password</h1>
        <div id="passwordOptions">
            <div id="checkbox-wrapper">
                <p>Include Uppercase Letters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeUppercase" checked>
                    <label class='tgl-btn' for="includeUppercase"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Digits</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeDigits" checked>
                    <label class='tgl-btn' for="includeDigits"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Special Characters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeSpecial" checked>
                    <label class='tgl-btn' for="includeSpecial"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Exclude Homoglyphs</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="excludeHomoglyphs">
                    <label class='tgl-btn' for="excludeHomoglyphs"></label>
                </div>
            </div>
            <div id="sliderContainer">
                <label for="lengthSlider">Length: <span id="lengthValue">12</span></label>
                <input type="range" id="lengthSlider" name="length" min="1" max="69" value="12">
            </div>
        </div>
        <div id="passphraseOptions" style="display: none;">
            <div id="checkbox-wrapper">
                <p>Capitalize Words</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="capitalizeWords">
                    <label class='tgl-btn' for="capitalizeWords"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Numbers</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeNumbers">
                    <label class='tgl-btn' for="includeNumbers"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Special Characters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeSpecialChars">
                    <label class='tgl-btn' for="includeSpecialChars"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <label for="languageSelect">Language:</label>
                <select id="languageSelect">
                    <option value="en">English</option>
                    <option value="fi">Finnish</option>
                </select>
            </div>
            <div id="checkbox-wrapper">
                <label for="separator">Separator:</label>
                <select id="separator">
                    <option value="space">Dash</option>
                    <option value="number">Random Number</option>
                    <option value="special">Random Special Character</option>
                    <option value="custom">User Defined</option>
                </select>
                <input type="text" id="customSeparator" placeholder="Enter custom separator" style="display: none;">
            </div>
            <div id="checkbox-wrapper">
                <label for="maxWordLength">Max Word Length:</label>
                <select id="maxWordLength">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option selected value="5">6</option>
                    <option value="7">7</option>
                    <option value="9">9</option>
                    <option value="12">12</option>
                    <option value="16">16</option>
                </select>
            </div>
            <div id="wordCountContainer">
                <label for="wordCountSlider">Word Count: <span id="wordCountValue">4</span></label>
                <input type="range" id="wordCountSlider" name="wordCount" min="2" max="10" value="4">
            </div>
        </div>
        <div id="passphrase-wrapper">
            <div id="checkbox-wrapper">
                <p>Generate Passphrase</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="passphraseToggle">
                    <label class='tgl-btn' for="passphraseToggle"></label>
                </div>
            </div>
        </div>
        <div class="password-container" style="display: flex;">
            <input type="text" id="password" oncopy="onCopy()" readonly>
            <button id="copypwd" onclick="copyPassword()">copy password</button>
        </div>
        <div id="checkbox-wrapper" class="buttonwrapper">
            <button id="refreshpw" class="button">Generate</button>
        </div>
        <div id="passphrase-wrapper" class="infotext-wrapper">
            <div id="checkbox-wrapper">
                {% if no_api_check %}
                <p id="infotext">Offline mode enabled. No checks are ran against haveibeenpwned-API.</p>
                {% else %}
                <p id="infotext">All generated passwords and passphrases are ran against <a id="apilink"
                        href="https://haveibeenpwned.com" target="_blank"
                        rel="noopener noreferrer">haveibeenpwned</a>-API before
                    showing them to the user.</p>
                {% endif %}
            </div>
        </div>

    </div>
    <footer>
        <p>Simple password generator made by <a href="https://github.com/jocxfin/pwgen" target="_blank"
                rel="noopener noreferrer">jocxFIN</a></p>
    </footer>
    </div>
    <script src="/index.js"></script>
</body>

</html>