<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PwGen</title>
    <meta name="description" content="Secure password generator">
    <meta name="keywords" content="Secure, haveibeenpwned, password, password-generator, password generator">
    <meta name="author" content="jocxfin">
    {% if google_site_verification %}
    <meta name="google-site-verification" content="{{ google_site_verification }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ base_path }}static/styles.css">  
    <link rel="icon" href="{{ base_path }}static/favicon.png" type="image/png">  
    <link rel="manifest" href="{{ base_path }}manifest.json">  
    <meta name="theme-color" content="#2A3850">
    <script>
        window.BASE_PATH = "{{ base_path }}";
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register(`${window.BASE_PATH}service-worker.js`)
                    .then(reg => console.log('Service Worker registered', reg))
                    .catch(err => console.log('Service Worker registration failed', err));
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <h1 id="header1">Generate a Secure Password</h1>
        <div id="passwordOptions">
            <div id="checkbox-wrapper">
                <p>Include Uppercase Letters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeUppercase">
                    <label class='tgl-btn' for="includeUppercase"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Digits</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeDigits">
                    <label class='tgl-btn' for="includeDigits"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Special Characters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeSpecial">
                    <label class='tgl-btn' for="includeSpecial"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Exclude Homoglyphs</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="excludeHomoglyphs">
                    <label class='tgl-btn' for="excludeHomoglyphs"></label>
                </div>
            </div>
            <div id="sliderContainer">
                <label for="lengthSlider">Length: <span id="lengthValue"></span></label>
                <input type="range" id="lengthSlider" name="length" min="1" max="69" value="">
            </div>
        </div>
        <div id="passphraseOptions" style="display: none;">
            <div id="checkbox-wrapper">
                <p>Capitalize Words</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="capitalizeWords">
                    <label class='tgl-btn' for="capitalizeWords"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Numbers</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeNumbers">
                    <label class='tgl-btn' for="includeNumbers"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Special Characters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeSpecialChars">
                    <label class='tgl-btn' for="includeSpecialChars"></label>
                </div>
            </div>
            {% if no_lang %}
            <div id="checkbox-wrapper" style="display: none !important;">
                {% else %}
                <div id="checkbox-wrapper">
                    {% endif %}
                    <label for="languageSelect">Language:</label>
                    <select id="languageSelect">
                        <option value="en">English</option>
                        <option value="fi">Finnish</option>
                        <option value="custom">Custom list</option>
                    </select>
                    <input type="text" id="customLanguage" placeholder="Enter custom url for text file"
                        style="display: none;">
                </div>
                <div id="checkbox-wrapper">
                    <label for="separator">Separator:</label>
                    <select id="separator">
                        <option value="dash">Dash</option>
                        <option value="number">Random Number</option>
                        <option value="special">Random Special Character</option>
                        <option value="space">Space</option>
                        <option value="custom">User Defined</option>
                    </select>
                    <input type="text" id="customSeparator" placeholder="Enter custom separator" style="display: none;">
                </div>
                {% set default_options = [3, 5, 6, 7, 9, 12, 16] %}
                {% if pp_settings.max_word_length not in default_options %}
                  {% set default_options = default_options + [pp_settings.max_word_length] %}
                {% endif %}
                {% set default_options = default_options | sort %}
                <div id="checkbox-wrapper">
                  <label for="maxWordLength">Max Word Length:</label>
                  <select id="maxWordLength">
                    {% for option in default_options %}
                      <option value="{{ option }}" {% if option == pp_settings.max_word_length %}selected{% endif %}>
                        {{ option }}
                      </option>
                    {% endfor %}
                  </select>
                </div>                
                <div id="wordCountContainer">
                    <label for="wordCountSlider">Word Count: <span id="wordCountValue"></span></label>
                    <input type="range" id="wordCountSlider" name="wordCount" min="2" max="10" value="">
                </div>
            </div>
            <div id="passphrase-wrapper">
                <div id="checkbox-wrapper">
                    <p>Generate Passphrase</p>
                    <div class="checkbox-kaare">
                        <input class='tgl toggle-omena' type="checkbox" id="passphraseToggle">
                        <label class='tgl-btn' for="passphraseToggle"></label>
                    </div>
                </div>
            </div>
            {% if multi_gen %}
            <div id="password-container1">
                <div class="parent">
                    <div id="multipw" class="multipw0"></div>
                    <div id="multipw" class="multipw1"></div>
                    <div id="multipw" class="multipw2"></div>
                    <div id="multipw" class="multipw3"></div>
                    <div id="multipw" class="multipw4"></div>
                    <div id="multipwcp" class="multipwcp0" onclick="copyPassword(0)">copy</div>
                    <div id="multipwcp" class="multipwcp1" onclick="copyPassword(1)">copy</div>
                    <div id="multipwcp" class="multipwcp2" onclick="copyPassword(2)">copy</div>
                    <div id="multipwcp" class="multipwcp3" onclick="copyPassword(3)">copy</div>
                    <div id="multipwcp" class="multipwcp4" onclick="copyPassword(4)">copy</div>
                </div>
            </div>
            {% else %}
            <div class="password-container" style="display: flex;">
                <input type="text" id="password" oncopy="onCopy()" readonly>
                <button id="copypwd" onclick="copyPassword(100)">copy password</button>
            </div>
            {% endif %}

            <div id="checkbox-wrapper" class="buttonwrapper">
                <button id="refreshpw" class="button">Generate</button>
            </div>
            <div id="passphrase-wrapper" class="infotext-wrapper">
                <div id="checkbox-wrapper">
                    {% if no_api_check %}
                    <p id="infotext">Offline mode enabled. No checks are ran against haveibeenpwned-API.</p>
                    {% else %}
                    <p id="infotext">All passwords and passphrases created are cross-referenced with <a id="apilink"
                            href="https://haveibeenpwned.com" target="_blank"
                            rel="noopener noreferrer">haveibeenpwned</a>-API to guarantee they have not been compromised
                        in past data breaches.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <footer>
            <p>Simple password generator made by <a href="https://github.com/jocxfin/pwgen" target="_blank"
                    rel="noopener noreferrer">jocxFIN</a></p>
        </footer>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('lengthSlider').value = {{ pw_settings.length }};
            document.getElementById('includeUppercase').checked = {{ pw_settings.include_uppercase | tojson }};
            document.getElementById('includeDigits').checked = {{ pw_settings.include_digits | tojson }};
            document.getElementById('includeSpecial').checked = {{ pw_settings.include_special | tojson }};
            document.getElementById('excludeHomoglyphs').checked = {{ pw_settings.exclude_homoglyphs | tojson }};
            document.getElementById('lengthValue').innerText = {{ pw_settings.length }};
            
            document.getElementById('wordCountSlider').value = {{ pp_settings.word_count }};
            document.getElementById('capitalizeWords').checked = {{ pp_settings.capitalize | tojson }};
            document.getElementById('includeNumbers').checked = {{ pp_settings.include_numbers | tojson }};
            document.getElementById('includeSpecialChars').checked = {{ pp_settings.include_special_chars | tojson }};
            document.getElementById('languageSelect').value = "{{ pp_settings.language }}";
            document.getElementById('customLanguage').value = "{{ pp_settings.languageCustom }}";
            document.getElementById('wordCountValue').innerText = {{ pp_settings.word_count }};
            
            document.getElementById('passphraseToggle').checked = {{ generate_pp | tojson }};
            
            

            document.getElementById('maxWordLength').value = {{ pp_settings.max_word_length }};
            const separatorValue = "{{ pp_settings.separator_type }}";
            document.getElementById('separator').value = separatorValue;
            if (separatorValue === 'custom') {
                document.getElementById('customSeparator').style.display = 'block';
                document.getElementById('customSeparator').value = "{{ pp_settings.user_defined_separator }}";
            }
            const LanguageValue = "{{ pp_settings.language }}";
            if (LanguageValue === 'custom') {
                document.getElementById('customLanguage').style.display = 'block';
            }
            document.getElementById('languageSelect').onchange = function () {
                document.getElementById('customLanguage').style.display = this.value === 'custom' ? 'block' : 'none';
            };

            if (document.getElementById('passphraseToggle').checked) {
                togglePassphraseOptions();
            } else {
                generatePassword();
            }

        });
    </script>
     <script src="{{ base_path }}static/index.js"></script>
</body>

</html>
