<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PwGen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#2A3850">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(reg => console.log('Service Worker registered', reg))
                    .catch(err => console.log('Service Worker registration failed', err));
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <h1 id="header1">Generate a Secure Password</h1>
        <div id="passwordOptions">

            <div id="checkbox-wrapper">
                <p>Include Uppercase Letters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeUppercase" checked>
                    <label class='tgl-btn' for="includeUppercase"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Digits</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeDigits" checked>
                    <label class='tgl-btn' for="includeDigits"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Special Characters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeSpecial" checked>
                    <label class='tgl-btn' for="includeSpecial"></label>
                </div>
            </div>
            <div id="sliderContainer">
                <label for="lengthSlider">Length: <span id="lengthValue">12</span></label>
                <input type="range" id="lengthSlider" name="length" min="1" max="69" value="12">
            </div>
        </div>

        <div id="passphraseOptions" style="display: none;">
            <div id="checkbox-wrapper">
                <p>Capitalize Words</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="capitalizeWords">
                    <label class='tgl-btn' for="capitalizeWords"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Numbers</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeNumbers">
                    <label class='tgl-btn' for="includeNumbers"></label>
                </div>
            </div>
            <div id="checkbox-wrapper">
                <p>Include Special Characters</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="includeSpecialChars">
                    <label class='tgl-btn' for="includeSpecialChars"></label>
                </div>
            </div>            
            <div id="checkbox-wrapper">
                <label for="separator">Separator:</label>
                <select id="separator">
                    <option value="space">Dash</option>
                    <option value="number">Random Number</option>
                    <option value="special">Random Special Character</option>
                    <option value="custom">User Defined</option>
                </select>
                <input type="text" id="customSeparator" placeholder="Enter custom separator" style="display: none;">
            </div>
            <div id="checkbox-wrapper">
                <label for="maxWordLength">Max Word Length:</label>
                <select id="maxWordLength">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option selected value="5">6</option>
                    <option value="7">7</option>
                    <option value="9">9</option>
                    <option value="12">12</option>
                    <option value="16">16</option>
                </select>
            </div>
            <div id="wordCountContainer">
                <label for="wordCountSlider">Word Count: <span id="wordCountValue">4</span></label>
                <input type="range" id="wordCountSlider" name="wordCount" min="2" max="10" value="4">
            </div>
        </div>
        <div id="passphrase-wrapper">
            <div id="checkbox-wrapper">
                <p>Generate Passphrase</p>
                <div class="checkbox-kaare">
                    <input class='tgl toggle-omena' type="checkbox" id="passphraseToggle">
                    <label class='tgl-btn' for="passphraseToggle"></label>
                </div>
            </div>
        </div>
        <div class="password-container" style="display: flex;">
            <input type="text" id="password" oncopy="onCopy()" readonly>
            <button id="copypwd" onclick="copyPassword()">copy password</button>
        </div>
        <div id="checkbox-wrapper" class="buttonwrapper">
            <button id="refreshpw" class="button">Generate</button>
        </div>
        <div id="passphrase-wrapper" class="infotext-wrapper">
            <div id="checkbox-wrapper">
                <p id="infotext">All generated passwords and passphrases are ran against <a id="apilink"
                        href="https://haveibeenpwned.com" target="_blank" rel="noopener noreferrer">haveibeenpwned</a>-API before
                    showing them to the user.</p>
            </div>
        </div>
        <footer>
            <p>Simple password generator made by <a href="https://github.com/jocxfin/pwgen" target="_blank"
                    rel="noopener noreferrer">jocxFIN</a></p>
        </footer>
    </div>

    <script>
        const passphraseToggle = document.getElementById('passphraseToggle');
        const capitalizeWords = document.getElementById('capitalizeWords');
        const wordCountSlider = document.getElementById('wordCountSlider');
        const wordCountValue = document.getElementById('wordCountValue');
        const separator = document.getElementById('separator');
        const customSeparator = document.getElementById('customSeparator');
        const maxWordLength = document.getElementById('maxWordLength');
        const passwordInput = document.getElementById('password');
        const lengthSlider = document.getElementById('lengthSlider');
        const lengthValue = document.getElementById('lengthValue');
        const includeUppercase = document.getElementById('includeUppercase');
        const includeDigits = document.getElementById('includeDigits');
        const includeSpecial = document.getElementById('includeSpecial');
        const includeNumbers = document.getElementById('includeNumbers');
        const includeSpecialChars = document.getElementById('includeSpecialChars');
    
        separator.onchange = () => customSeparator.style.display = separator.value === 'custom' ? 'block' : 'none';
    
        wordCountSlider.oninput = () => wordCountValue.textContent = wordCountSlider.value;
        lengthSlider.oninput = () => lengthValue.textContent = lengthSlider.value;
    
        passphraseToggle.onchange = togglePassphraseOptions;
    
        function togglePassphraseOptions() {
            document.getElementById('passwordOptions').style.display = passphraseToggle.checked ? 'none' : 'block';
            document.getElementById('passphraseOptions').style.display = passphraseToggle.checked ? 'block' : 'none';
            customSeparator.style.display = 'none';
            generatePassword();
        }
    
        document.querySelectorAll('input, select').forEach(element => {
            element.addEventListener('change', generatePassword);
        });
    
        async function generatePassword() {
            const formData = new FormData();
            formData.append('length', lengthSlider.value);
            formData.append('include_uppercase', includeUppercase.checked);
            formData.append('include_digits', includeDigits.checked);
            formData.append('include_special', includeSpecial.checked);
            formData.append('include_numbers', includeNumbers.checked);
            formData.append('include_special_chars', includeSpecialChars.checked);
            formData.append('capitalize', capitalizeWords.checked);
            formData.append('word_count', wordCountSlider.value);
            formData.append('separator_type', separator.value === 'custom' ? 'single_character' : separator.value);
            if (separator.value === 'custom') {
                formData.append('user_defined_separator', customSeparator.value);
            }
            formData.append('max_word_length', maxWordLength.value);
            formData.append('type', passphraseToggle.checked ? 'passphrase' : 'password');
    
            try {
                const response = await fetch('/generate-password', {
                    method: 'POST',
                    body: formData
                });
                if (!response.ok) throw new Error('Network response was not ok.');
                const data = await response.json();
                scrambleAnimation(data.password);
            } catch (error) {
                console.error('Error generating password:', error);
            }
        }
    
        function scrambleAnimation(finalPassword) {
            let scrambled = Array.from({ length: finalPassword.length }, () => getRandomCharacter());
            passwordInput.value = scrambled.join('');
            const maxDelay = 300;
            let indexes = Array.from({ length: finalPassword.length }, (_, i) => i);
    
            finalPassword.split('').forEach(() => {
                let randomIndex = indexes.splice(Math.floor(Math.random() * indexes.length), 1)[0];
                let delay = Math.random() * maxDelay;
    
                setTimeout(() => {
                    scrambled[randomIndex] = finalPassword[randomIndex];
                    passwordInput.value = scrambled.join('');
                }, delay);
            });
        }
    
        function getRandomCharacter() {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()_+-=[]{}|;:\'",.<>/?';
            return characters.charAt(Math.floor(Math.random() * characters.length));
        }
    
        function copyPassword() {
            passwordInput.select();
            document.execCommand('copy');
        }
    
        var refreshpw = document.getElementById('refreshpw');
    
        refreshpw.addEventListener("click", async function () {
            refreshpw.classList.add('loading');
    
            await generatePassword();
    
            setTimeout(() => {
                refreshpw.classList.remove('loading');
            }, 690);
        }, false);
    
        function onCopy() {
            var button = document.getElementById("copypwd");
            button.innerHTML = "copied!";
    
            setTimeout(function () {
                button.innerHTML = "copy password";
            }, 1500);
        }
        window.onload = generatePassword;
    </script>
    
</body>

</html>