name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
            node-version: '20.x'
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag password-generator:${{ github.run_number }}
